name: Matrix Demo
on: push
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Get code
              uses: actions/checkout@v6
            - name: Install NodeJS
              uses: actions/setup-node@v6
              run: echo "Building website..."
    