name: Reusable Workflow
on:
    workflow_call:
        inputs:
            artifact-name:
                description: The name of the artifact to download
                required: false
                default: dist
                type: string
        secrets:
            some-secrets:
                description: Some secrets to use in the workflow
                required: false

jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v7
              with:
                name: ${{ inputs.artifact-name }}
            - name: Output contents
              run: ls
            - name: Deploy to production
              run: echo "Deploying to production..."