name: Reusable Workflow
on:
    workflow_call:
jobs:
    deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Get build artifacts
              uses: actions/download-artifact@v7
              with:
                name: dist-files
            - name: Deploy to production
              run: echo "Deploying to production..."